<p>いいねした投稿一覧</p>
<table>
  <tbody>
    <% @liked_microposts.each do |micropost| %>
    <tr>
        <td>
          <%= link_to user_path(micropost.user) do %>
            <%= attachment_image_tag micropost.user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg", class: "rounded-circle" %>
          <% end %>
        </td>
        <td><%= micropost.content %></td>
        <td>
          <%= attachment_image_tag micropost, :image, :fill, 400, 400, format: 'jpeg' %>
        </td>
        <td>
          <%= link_to micropost_path(micropost.id), class: "btn", method: :get do %>
            <i class="fas fa-ellipsis-h"></i>
          <% end %>
        </td>
        <td>
	        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
	      </td>
      </tr>
    <% end %>
  <table>
<tbody>