<div>
  <aside>
    <section>
      <h1>
        <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", class: "rounded-circle" %>
        <%= @user.name %>
        <%= @user.introduction %>
        <section class="stats">
          <%= render 'stats' %>
        </section>
        <% if @user.id == current_user.id %>
          <%= link_to edit_user_path(@user), class: "btn btn-secondary text-white", method: :get do %>
            <i class="fas fa-edit"></i> 
          <% end %>  
        <% end %>
      </h1>
    </section>
  </aside>
  <div>
    <%= render 'follow_form' if user_signed_in? %>
    <% if @user.microposts.any? %>
      <h3>つぶやき (<%= @user.microposts.count %>)</h3>
      <ol>
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>