
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", class: "rounded-circle" %>
      <h1><%= @user.name %></h1>
      <%= @user.introduction %>
      <span><%= link_to "プロフィール", @user %></span>
      <span><b>Microposts:</b> <%= @user.microposts.count %></span>
    </section>
    <section class="stats">
      <%= render 'stats' %>

        <h3><%= @title %> 一覧</h3>
        <div>
          <% @users.each do |user| %>
          <table>
            <tr>
              <td><%= link_to attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", class: "rounded-circle" %></td>
              <td><%= link_to user.name, user_path(user) %></td>
            </tr>
          </table>
          <% end %>
        </div>
      
    </section>
  </aside>
 
</div>