<div>
    <div>
      <%= link_to new_micropost_path, class: "btn btn-lg rounded-circle text-right ml-auto shadow-sm", method: :get do %>
      <i class="fas fa-plus"></i>
      <% end %>
    </div>
    <div>
    	<h2>タイムライン</h2>
    	<div class="search-form">
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, value: @keyword %>
          <%= f.submit "検索" %>
        <% end %>
      </div>

      <div>
        <% if @tags.present? %>
          <% @tags.each do |tag| %>
            <%= link_to "#{tag.name}(#{tag.taggings_count})", microposts_path(tag: tag.name) %>
          <% end %>
        <% else %>
            <p>登録されているタグはありません</p>
        <% end %>
      </div>

    	<table>
        <tbody>
          <% @microposts.each do |micropost| %>
            <tr>
              <td>
                <%= link_to user_path(micropost.user) do %>
                  <%= attachment_image_tag micropost.user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg", class: "rounded-circle" %>
                <% end %>
              </td>
              <td>
                <h3><%= link_to micropost.user.name, user_path(micropost.user) %></h3>
              </td>
              <td><%= micropost.content %></td>
              <td>
                <%= link_to micropost_path(micropost.id), class: "btn btn-secondary text-white", method: :get do %>
                  <i class="fas fa-ellipsis-h"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


