<ul class="list-unstyled">
  <li class="media mb-3">
    <img class="mr-2 rounded" src="<%= attachment_image_tag @micropost.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'50x50' %>" ></img>
    <div class="media-body">
      <div>
        <%= link_to @micropost.user.name, user_path(@micropost.user) %> <span class="text-muted">posted at <%= @micropost.created_at %></span>
      </div>
      <div>
        <p><%= @micropost.content %></p>
      </div>
        <h3>いいね件数: <%= @micropost.likes.count %></h3>
          <% if current_user.already_liked?(@micropost) %>
            <button type="button" class="form__btn"><%= link_to 'いいねを取り消す', micropost_path(@micropost), method: :delete %></button>
          <% else %>
            <button type="button" class="form__btn"><%= link_to'いいね', micropost_path(@micropost) %></button>
          <% end %>
          <h2>いいねしたユーザー</h2>
          <% @micropost.liked_users.each do |user| %>
          <section class="user_info">
            <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
            <h1><%= link_to  user.name, user_path(micropost.user) %></h1>
            <%= user.introduction %>
          </section>
          <% end %>
      </div>
    </div>
  </li>
</ul>