<div class="container">
  <div class="row-8  mx-auto shadow-lg rounded px-0 my-5 no-gutters">
    <div class="col-2 d-flex justify-content-center p-3">
      <%= attachment_image_tag @micropost.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", class: "rounded-circle" %>
    </div>
    <div class="col-2 d-flex justify-content-center">
      <h3><%= link_to @micropost.user.name, user_path(@micropost.user) %></h3>
    </div>
    <div class="col-10 d-flex justify-content-end">
    <!--所有権を確認-->
    <% if current_user.own?(@micropost) %>
      <%= link_to micropost_path(@micropost), class: 'btn', method: :delete do %>
        <i class="fas fa-trash"></i>
      <% end %>
      <%= link_to edit_micropost_path(@micropost), class: 'btn', method: :get do %>
        <i class="fas fa-wrench"></i>
      <% end %>
    <% end %>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <%= attachment_image_tag @micropost, :image, :fill, 400, 400, format: 'jpeg', class: "rounded" %>
    </div>
    <div class="col-12 d-flex justify-content-center m-3">
      <%= @micropost.content %>
    </div>
    <div class="col-12 d-flex justify-content-center m-3">
      <% if @tags.present? %>
        <% @tags.each do |tag| %>
          <%= link_to "#{tag.name}(#{tag.taggings_count})", microposts_path(tag: tag.name) %>
        <% end %>
      <% else %>
          <p>登録されているタグはありません</p>
      <% end %>
    </div>
    <div id="like_buttons_<%= @micropost.id %>">
      <%= render "likes/like_button", micropost: @micropost %>
    </div>

    <div>
      <h3><i class="fas fa-heart unlike-btn"></i>: <%= @micropost.likes.count %></h3>
    </div>
    <ul>
      <li id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments } %>
      </li>
    </ul>
    <hr>
    <% if user_signed_in? %>
      <div class="comment-create d-flex justify-content-center">
        <%= render partial: 'comments/form', locals: { comment: @comment, micropost: @micropost } %>
      </div>
    <% end %>
  </div>
  <div class="row-4">
    <h2>いいねしたユーザー</h2>
    <table>
      <% @micropost.liked_users.each do |user| %>
      <tr>
        <td>
          <%= attachment_image_tag user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg", class: "rounded-circle" %>
        </td>
        <td>
          <h3><%= link_to  user.name, user_path(@micropost.user) %></h3>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
 </div>


